@{
    ViewData["Title"] = "Home Page";
}

@section Slider{ 
@await Component.InvokeAsync("Slider") 
}








<div class="m-4">
    <textarea style="text-align:center"> eproğjtnjweroğığğtjğjwertoüöerğ
wt erğwtüw ertpüoüwejrtpğ wejrğ tıopğjwerğğıop t jwerpojtweprojtopwerj opteropğ</textarea>
</div>