
<div id="main-content">
    <div id="sub-header" class="layout-full elementor-page-title">
        <div class="meta-header">
            <div class="limit-wrapper vamtam-box-outer-padding">
                <div class="meta-header-inside">

                    <header class="page-header" data-progressive-animation="page-title">
                        <h1 itemprop="headline">Pet Care</h1>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="main" role="main" class="vamtam-main layout-full">
        <div class="page-wrapper">
            <article id="post-1564" class="full post-1564 page type-page status-publish hentry">
                <div class="page-content clearfix the-content-parent">
                    <div data-elementor-type="wp-page" data-elementor-id="1564" class="elementor elementor-1564">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-d1ed8cb elementor-section-height-min-height elementor-section-items-stretch elementor-section-boxed elementor-section-height-default" data-id="d1ed8cb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a8fd5e1" data-id="a8fd5e1" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-3ec8c8d elementor-widget elementor-widget-heading" data-id="3ec8c8d" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h1 class="elementor-heading-title elementor-size-default">
                                                    Your pet, <br>
                                                    our priority
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-8075c28 elementor-widget__width-auto elementor-widget-tablet__width-inherit elementor-widget elementor-widget-button" data-id="8075c28" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="#services" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">Learn more</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-7b0e18c elementor-widget__width-auto elementor-widget-tablet__width-inherit elementor-widget elementor-widget-button" data-id="7b0e18c" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="#reservation" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">Make a reservation</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5c467db elementor-widget elementor-widget-spacer" data-id="5c467db" data-element_type="widget" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6b8ecbf elementor-invisible" data-id="6b8ecbf" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="vamtam-has-theme-widget-styles elementor-element elementor-element-403d631 elementor-widget__width-auto elementor-invisible elementor-widget elementor-widget-image" data-id="403d631" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInUp&quot;,&quot;_animation_delay&quot;:300,&quot;_animation_tablet&quot;:&quot;none&quot;}" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img width="180" height="264" src="wp-content/uploads/2022/06/illustration-1.svg" class="attachment-large size-large wp-image-1583" alt="" decoding="async" loading="lazy" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vamtam-has-theme-widget-styles elementor-element elementor-element-a5f48fa elementor-widget__width-auto elementor-invisible elementor-widget elementor-widget-image" data-id="a5f48fa" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_delay&quot;:100,&quot;_animation_tablet&quot;:&quot;none&quot;}" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img src="~/img/iStock-1143440918.png" />
                                                    <img width="498" height="458" src="wp-content/uploads/2022/06/iStock-1143440918.png" class="attachment-large size-large wp-image-1584" alt="" decoding="async" loading="lazy" srcset="https://petmania.vamtam.com/wp-content/uploads/2022/06/iStock-1143440918-64x59.png 498w, https://petmania.vamtam.com/wp-content/uploads/2022/06/iStock-1143440918-64x59.png 64w, https://petmania.vamtam.com/wp-content/uploads/2022/06/iStock-1143440918-300x276.png 300w" sizes="(max-width: 498px) 100vw, 498px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vamtam-has-theme-widget-styles elementor-element elementor-element-520a46c elementor-widget__width-auto elementor-invisible elementor-widget elementor-widget-image" data-id="520a46c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInRight&quot;,&quot;_animation_delay&quot;:400,&quot;_animation_tablet&quot;:&quot;none&quot;}" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img width="240" height="363" src="wp-content/uploads/2022/06/illustration-2.svg" class="attachment-large size-large wp-image-1586" alt="" decoding="async" loading="lazy" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            </article>
        </div>
    </div>
</div>